.journey-title {
    background: rgb(151,223,252);
    background: linear-gradient(63deg, rgba(151,223,252,1) 0%, rgba(78,20,140,1) 100%);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;  
    font-size: 22px;
}

@media (min-width: 900px) {
    .journey-title {
        font-size: 32px;
    }
}