* {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: "Andika", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-color: #161618;
}

a {
  text-decoration: none;
}

.icon_w {
  width: 30px;
}

.icon_m {
  margin: 0 1em;
}

@media (min-width: 600px) {
  .icon_w {
    width: 50px;
  }
  
  .icon_m {
    margin: 0 2em;
  }   
}