* {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: "Andika", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-color: #161618;
}

a {
  text-decoration: none;
}
